<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Test</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
        body {
            background-color: black;
        }

        h1 {
            font-family: Merriweather ;
            text-align: center;
            color: white
        }
    </style>
        
    
        <h1>TEST INDEX</h1> <br> <br>
        
        <br><br>
        
        
        {% for single_mode in modes %}
            <h1> <a href="{{ single_mode.get_absolute_url }}">{{ single_mode }}</a></h1>
        {% endfor %}
            
         
    <br>


</body>
</html>